/* SETUP*/

/* Box Model Hack*/
* {
  box-sizing: border-box;
}

/* Flexbox Hack*/

.box {
  display: flex;
}

.row {
  display: flex;
  flex: 1 1 100%;
  flex-flow: row nowrap;
}

.column {
  display: flex;
  flex: 1 1 100%;
  flex-flow: row nowrap;
  /*padding: 10px 40px;*/
  height: 20px;
}

body {
  font-family: 'Merriweather', serif;
}

/* HEADER */

header {
  background: black;
  padding: 20px 20px;
  border-bottom: yellow solid 5px;
}

h1 {
  color: yellow;
  padding: 0 20px;
}

nav .menu {
  display: flex;
  flex-flow: row nowrap;
  font-family: sans-serif;
  text-align: right;
  padding: 0 20px;
  justify-content: flex-end;
}

header .column {
  height: 100%
}

.extrabold {
  font-family: 'Teko', sans-serif;
  font-size: 25px;
  text-transform: capitalize;
}

ul li {
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

/* QUOTE */
blockquote {
  font-style: italic;
  text-align: center;
  justify-content: center;
}

.strike {
  text-decoration: line-through;
}

.underline {
  border-bottom: yellow solid;
}

.tagline {
  background-color: rgb(217, 217, 217);
  height: 100%;
}

.meet {
    background: url(../images/coworking.jpg) no-repeat center top;
    background-size: cover;
    background-position: center;
    height: 700px;
    /*flex-direction: row-reverse;*/
    justify-content: flex-end;
}

.match {
  border: 1px solid black;
  background-color: rgb(190, 190, 190, 0.5);
  max-width: 30%;
  padding: 20px;
  height: 50%;
  text-align: center;
  margin: 20px;
  line-height: 1.8;
  font-style: sans-serif;
  font-weight: bold;
}

.button {
  background-color: grey;
  border-radius: 5px;
  font-family: 'Teko', sans-serif;
  font-size: 25px;
  padding: 5px 30px;
  text-decoration: none;
  color: black;
  text-align: bottom;
}

.yellow {
    background-color: yellow;
}
